<!--NOMBRE: ALAIN MORAGA VARGAS-->
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Vacunatorio Coelemu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="{{url_for('static', filename='datatable.js')}}"></script>
</head>
<body>

<div class="container">
    <br>
    <h2>LISTADO DE VACUNAS</h2>
    <br>          
    <a type="button" class="btn btn-warning" href="{{url_for('listado_pacientes')}}">
      <span class="glyphicon glyphicon-list-alt"></span> Volver al listado
    </a>
    <a type="button" class="btn btn-primary" style="float:right;" href="{{url_for('nueva_vacuna')}}">
        Nueva vacuna <span class="glyphicon glyphicon-plus"></span> 
    </a>
    <br>
    <br>
    <table class="table table-bordered" id="myTable" style="border-color: black;">
      <thead>
        <tr>
          <th># registro</th>
          <th>Nombre enfermedad</th>
          <th>Fecha registro</th>
          <th>Pacientes</th>
        </tr>
      </thead>
      <tbody>
          {% for item in vacunas %}
        <tr>
          <td>{{ item['id_vacuna'] }}</td>
          <td>{{ item['nombre_enfermedad'] }}</td>
          <td>{{ item['fecha_registro'] }}</td>
          <td style="width:180px;">
              <a href="{{url_for('vacunas_administradas',id_vacuna=item['id_vacuna'])}}" class="btn btn-warning "> <span class="glyphicon glyphicon-eye-open"></span> Ver</a>
          </td>
        </tr>
        {%endfor %}
      </tbody>
    </table>
  </div>
</body> 
</html>

